body
    {
        background-color: beige;
    }

a:link
    {
        color: brown;
        background-color: antiquewhite;
        text-decoration: none;
        padding: 15px;
        display: flexbox;
        font-family: 'Courier New', Courier, monospace;
    }

a:visited
    {
        color: brown;
        background-color: antiquewhite;
        text-decoration: none;
        display: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

a:hover
    {
        color: khaki;
        background-color: rosybrown;
        text-decoration: overline;
    }

a:active
    {
        color: beige;
        background-color: antiquewhite;
        text-decoration: none;
    }

h1
    {
        font-family: "Montserrat", sans-serif;
        color: rgb(105, 65, 5);
    }